#include "resource.h"
IDI_ICON1 ICON "assets/AWSCleanerlogobasic_outline.ico"
IDB_SAVE_PNG RCDATA "assets/save_button.png"
IDB_NUKE_PNG RCDATA "assets/res_del.png"
IDB_AWSC_PNG RCDATA "assets/awsc.png"

IDR_DATA_000 RCDATA "data/data.000"
IDR_DATA_001 RCDATA "data/data.001"
IDR_DATA_002 RCDATA "data/data.002"
IDR_DATA_003 RCDATA "data/data.003"
IDR_DATA_004 RCDATA "data/data.004"
IDR_DATA_005 RCDATA "data/data.005"
IDR_DATA_006 RCDATA "data/data.006"
IDR_DATA_007 RCDATA "data/data.007"
IDR_DATA_008 RCDATA "data/data.008"
IDR_DATA_009 RCDATA "data/data.009"
IDR_DATA_010 RCDATA "data/data.010"
IDR_DATA_011 RCDATA "data/data.011"
IDR_DATA_012 RCDATA "data/data.012"
IDR_DATA_013 RCDATA "data/data.013"
IDR_DATA_014 RCDATA "data/data.014"

IDR_FONT_NOTO RCDATA "assets/Noto_Sans_KR/static/NotoSansKR-Regular.ttf"
